.App {
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.character-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}